.mt-150{
    margin-top: 100px;
    margin-left: 370px;
}

.p-50{
    padding-left: 50px;
    padding-right: 50px;
}

.w-100{
    width: 100%;
}

.g-icon{
    width: 95px !important;
    margin-top: -12px;
}
